@charset "utf-8";

#login-wrap{ width: 100%; height: 100%; background-color: #fff; display: flex; align-items: center;}
#login-wrap .visual-box{ width: 43.75rem; height: 100%; background: no-repeat center center #f1f1f1; background-size: cover;}
#login-wrap .visual-box.drone{ background-image: url(../img/login/visual-drone-bg.png);}
#login-wrap .visual-box.ship{ background-image: url(../img/login/visual-ship-bg.png);}
#login-wrap .visual-box.robot{ background-image: url(../img/login/visual-robot-bg.png);}
#login-wrap .login-box{ padding: 0 1.25rem 0 9.688rem;}
#login-wrap [class*="input-"]{ background: no-repeat 1.25rem center; background-size: 1.5rem; padding: 0 1.25rem 0 3.375rem; font-weight: 500; font-size: 0.938rem; color: #5F627B; line-height: 1;}
#login-wrap [class*="input-"]::placeholder{ font-weight: 500; font-size: 0.938rem; color: #5F627B; line-height: 1;}
#login-wrap .input-email{ background-image: url(../img/ico/ico-email-b-24-24.svg);}
#login-wrap .input-password{ background-image: url(../img/ico/ico-lock-b-24-24.svg);}

#control-wrap{ width: 100%; height: 100%; background-color: #fff; display: grid; grid-template-columns: repeat(1, 1fr); grid-template-rows: 3.125rem repeat(1, 1fr); position: relative;}

#header-layout{ background-color: #fff; padding: 0 0.625rem 0 4.625rem; display: flex; justify-content: space-between; align-items: center; grid-column: 1 / 2; grid-row: 1 / 2; position: relative; z-index: 998;}

#aside-left-layout{ position: fixed; top: 0; right: auto; bottom: 0; left: 0; z-index: 999;}

#aside-right-layout{ position: fixed; top: 0; right: 0; bottom: 0; left: auto; z-index: 999;}
#aside-right-layout .dron-detail-box{ width: 20rem; background-color: #fff; display: none; flex-direction: column; border-radius: 0.313rem; opacity: 0; position: absolute; top: 3.75rem; right: 0.625rem; bottom: 0.625rem; transition: all 0.1s;}
#aside-right-layout .dron-detail-box > .box-head{ padding: 0.938rem 1.25rem; border-bottom: 0.063rem solid #E1E4EB;}
#aside-right-layout .dron-detail-box > .box-body{ padding: 0.625rem 0.188rem 0.625rem 0.625rem; flex: 1; position: relative;}
#aside-right-layout .dron-detail-box > .box-body > .scroll-y{ width: auto; height: auto; position: absolute; top: 0.625rem; right: 0.188rem; bottom: 0.625rem; left: 0.625rem;}
#aside-right-layout .dron-detail-close{ width: 1.375rem; height: 1.375rem; background-color: #fff; display: flex; align-items: center; justify-content: center; border-radius: 50%; box-shadow: 0.125rem 0.125rem 0.25rem 0rem #0000001A; position: absolute; top: 1.188rem; right: 0.625rem;}
#aside-right-layout .dron-detail-box.show{ display: flex;}
#aside-right-layout .dron-detail-box.active{ opacity: 1;}

#gnb-layout .gnb-open{ width: 2.125rem; height: 2.125rem; background-color: #153457; display: inline-flex; align-items: center; justify-content: center; border-radius: 0.313rem; position: absolute; top: 0.5rem; left: 0.625rem;}
#gnb-layout .gnb-open:hover{ background-color: #112a46;}
#gnb-layout .gnb-close{ width: 4rem; height: 3.063rem; background-color: #153457; display: inline-flex; align-items: center; justify-content: center; position: absolute; top: 0; left: 0;}
#gnb-layout .gnb-close:hover{ background-color: #112a46;}
#gnb-layout .depth1-box{ width: 4rem; height: 100%; background-color: #153457; padding: 3.125rem 0 0 0; display: none; flex-direction: column; box-sizing: border-box; position: absolute; top: 0; left: -4rem; transition: left 0.1s; z-index: 3;}
#gnb-layout .depth1-box .list{ display: flex; flex-direction: column; flex: 1;}
#gnb-layout .depth1-box .item{ display: flex; align-items: center; justify-content: center; flex: 1;}
#gnb-layout .depth1-box .item.dots{ height: 2.125rem; flex: none;}
#gnb-layout .depth1-box .depth1-menu{ width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 0.313rem; opacity: 0.7;}
#gnb-layout .depth1-box .depth1-menu.active{ background-color: #112a46; opacity: 1;}
#gnb-layout .depth1-box .depth1-menu:hover{ opacity: 1;}
#gnb-layout .depth1-box .depth1-menu .txt{ font-weight: 600; font-size: 0.813rem; color: #fff; line-height: 1;}
#gnb-layout .depth1-box .list.type-util{ height: 6.25rem; background-color: #1E1E1E; flex: none;}
#gnb-layout .depth1-box .list.type-util .item + .item{ position: relative;}
#gnb-layout .depth1-box .list.type-util .item + .item::before{ width: 0.875rem; height: 0.063rem; background-color: #fff; content: ''; margin: 0 0 0 -0.438rem; position: absolute; top: 0; left: 50%;}
#gnb-layout .depth1-box .util-menu{ width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; position: relative;}
#gnb-layout .depth1-box .util-menu .ico{ opacity: 0.7;}
#gnb-layout .depth1-box .util-menu .txt{ font-size: 0; text-indent: -624.938rem; opacity: 0;}
#gnb-layout .depth1-box .util-menu .count{ width: 0.875rem; height: 0.875rem; background-color: #C10230; font-weight: 600; font-size: 0.625rem; color: #fff; line-height: 1; padding: 0; margin: -0.938rem 0 0 0; display: flex; align-items: center; justify-content: center; border-radius: 0.438rem; position: absolute; top: 50%; left: 50%;}
#gnb-layout .depth1-box .util-menu:hover .ico{ opacity: 1;}
#gnb-layout .depth2-box{ width: 17.25rem; background-color: #fff; padding: 0 0.188rem 0.938rem 0.313rem; box-sizing: border-box; position: absolute; top: 3.125rem; right: auto; bottom: 0; left: -17.25rem; transition: left 0.1s; z-index: 2;}
#gnb-layout .depth2-box > .scroll-y{ display: none;}
#gnb-layout .depth2-box .depth2-open,
#gnb-layout .depth2-box .depth2-close{ width: 1.875rem; height: 3.125rem; background-color: #fff; display: none; align-items: center; justify-content: center; border-radius: 0 0.313rem 0.313rem 0; position: absolute; top: 3.75rem; right: -1.875rem;}
#gnb-layout .depth2-box .depth2-open{ display: flex;}
#gnb-layout .depth2-box.show > .scroll-y{ display: block;}
#gnb-layout .depth2-box.active{ left: 0;}
#gnb-layout .depth2-box.active .depth2-open{ display: none;}
#gnb-layout .depth2-box.active .depth2-close{ display: flex;}
#gnb-layout .depth3-box{ width: 16.625rem; background-color: #fff; padding: 0 0.188rem 0.938rem 0.313rem; display: none; box-sizing: border-box; opacity: 0; position: absolute; top: 3.125rem; right: auto; bottom: 0; left: 17.25rem; transition: all 0.1s; z-index: 2;}
#gnb-layout .depth3-box > .scroll-y{ padding: 0 0.188rem 0 0.313rem;}
#gnb-layout .depth3-box.show{ display: block;}
#gnb-layout .depth3-box.active{ opacity: 1;}
#gnb-layout .depth3-box .depth3-close{ width: 1.875rem; height: 3.125rem; background-color: #fff; display: flex; align-items: center; justify-content: center; border-radius: 0 0.313rem 0.313rem 0; position: absolute; top: 3.75rem; right: -1.875rem;}

#gnb-layout.show .depth1-box{ display: inline-flex;}
#gnb-layout.active .depth1-box{ left: 0;}
#gnb-layout.active .depth2-box{ left: -13.25rem;}
#gnb-layout.active .depth2-box.active{ left: 4rem;}
#gnb-layout.active .depth3-box{ left: 21.25rem;}

#main-layout{ grid-column: 1 / 2; grid-row: 2 / 3;}

#control-wrap.type-map #main-layout{ background-color: #999; position: relative;}
#control-wrap.type-map #main-layout [class*="fixed-tool-"]{ position: absolute; transition: all 0.1s;}
#control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-gps"]{ right: 1.875rem; bottom: 0.625rem; left: 1.875rem;}
#control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-control"]{ top: 0.625rem; right: 0.625rem;}
#control-wrap.type-map #main-layout [class*="snack-bar-"]{ position: absolute; transition: all 0.1s;}
#control-wrap.type-map #main-layout [class*="snack-bar-"][class*="-battery"]{ right: 1.875rem; bottom: 4.938rem;}
#control-wrap.type-map #main-layout [class*="snack-bar-"][class*="-battery"] .battery{ position: relative;}
#control-wrap.type-map #main-layout [class*="snack-bar-"][class*="-battery"] .snack-bar-close{ position: absolute; top: -0.688rem; right: -0.688rem;}
#control-wrap.type-map #main-layout [class*="marker-box-"]{ width: 2.875rem; height: 2.875rem; display: flex; align-items: center; justify-content: center; border-radius: 50%; position: absolute;}
#control-wrap.type-map #main-layout [class*="marker-box-"][class*="-type1"]{ background-color: #C10230;}
#control-wrap.type-map #main-layout [class*="marker-box-"][class*="-type2"]{ background-color: #124689;}
#control-wrap.type-map #main-layout [class*="marker-box-"][class*="-type3"]{ background-color: #5490DE;}
body:has( #gnb-layout.show.active) 
#control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-gps"]{ left: 7.5rem;}
body:has( .depth2-box.show.active) 
#control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-gps"]{ left: 26.375rem;}
body:has( #gnb-layout.show.active):has( .depth2-box.show.active) 
#control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-gps"]{ left: 30.375rem;}
body:has( #gnb-layout.show.active):has( .depth2-box.show.active):has( .depth3-box.show.active) #control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-gps"]{ left: 53.25rem;}
body:has( #aside-right-layout .dron-detail-box.active) #control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-gps"],
body:has( #aside-right-layout .dron-detail-box.active) #control-wrap.type-map #main-layout [class*="snack-bar-"][class*="-battery"]{ right: 24.75rem;}
body:has( #aside-right-layout .dron-detail-box.active) #control-wrap.type-map #main-layout [class*="fixed-tool-"][class*="-control"]{ right: 21.25rem;}

#control-wrap.type-video #main-layout{ padding-left: 0; display: grid; grid-template-columns: 17.25rem repeat(1, 1fr); grid-template-rows: repeat(1, 1fr); transition: all 0.1s;}
#control-wrap.type-video:has( #gnb-layout.active) #main-layout{ padding-left: 4rem;}

#main-option-box{ padding: 0 0.188rem 0.938rem 0.313rem; grid-column: 1 / 2; grid-row: 1 / 2;}
#main-video-box{ grid-column: 2 / 3; grid-row: 1 / 2;}