@charset "utf-8";

[class*="-wh10"]{ width: 10px; height: 10px;}
[class*="-wh14"]{ width: 14px; height: 14px;}
[class*="-wh20"]{ width: 20px; height: 20px;}
[class*="-wh22"]{ width: 22px; height: 22px;}
[class*="-wh24"]{ width: 24px; height: 24px;}
[class*="-wh26"]{ width: 26px; height: 26px;}
[class*="-wh30"]{ width: 30px; height: 30px;}
[class*="-wh34"]{ width: 34px; height: 34px;}
[class*="-wh46"]{ width: 46px; height: 46px;}
[class*="-wh60"]{ width: 60px; height: 60px;}
[class*="-wh64"]{ width: 64px; height: 64px;}

[class*="-h10"]{ height: 10px;}
[class*="-h14"]{ height: 14px;}
[class*="-h20"]{ height: 20px;}
[class*="-h22"]{ height: 22px;}
[class*="-h24"]{ height: 24px;}
[class*="-h26"]{ height: 26px;}
[class*="-h30"]{ height: 30px;}
[class*="-h34"]{ height: 34px;}
[class*="-h46"]{ height: 46px;}
[class*="-h60"]{ height: 60px;}
[class*="-h64"]{ height: 64px;}

[class*="-bg000000"]{ background-color: #000000;}
[class*="-bg000000"][class*="-op09"]{ background-color: #000000E6;}
[class*="-bg000000"][class*="-op08"]{ background-color: #000000CC;}
[class*="-bg000000"][class*="-op07"]{ background-color: #000000B3;}
[class*="-bg000000"][class*="-op06"]{ background-color: #00000099;}
[class*="-bg000000"][class*="-op05"]{ background-color: #00000080;}
[class*="-bg000000"][class*="-op04"]{ background-color: #00000066;}
[class*="-bg000000"][class*="-op03"]{ background-color: #0000004D;}
[class*="-bg000000"][class*="-op02"]{ background-color: #00000033;}
[class*="-bg000000"][class*="-op01"]{ background-color: #0000001A;}
[class*="-bg111111"]{ background-color: #111111;}
[class*="-bg111111"][class*="-op09"]{ background-color: #111111E6;}
[class*="-bg111111"][class*="-op08"]{ background-color: #111111CC;}
[class*="-bg111111"][class*="-op07"]{ background-color: #111111B3;}
[class*="-bg111111"][class*="-op06"]{ background-color: #11111199;}
[class*="-bg111111"][class*="-op05"]{ background-color: #11111180;}
[class*="-bg111111"][class*="-op04"]{ background-color: #11111166;}
[class*="-bg111111"][class*="-op03"]{ background-color: #1111114D;}
[class*="-bg111111"][class*="-op02"]{ background-color: #11111133;}
[class*="-bg111111"][class*="-op01"]{ background-color: #1111111A;}
[class*="-bg222222"]{ background-color: #222222;}
[class*="-bg222222"][class*="-op09"]{ background-color: #222222E6;}
[class*="-bg222222"][class*="-op08"]{ background-color: #222222CC;}
[class*="-bg222222"][class*="-op07"]{ background-color: #222222B3;}
[class*="-bg222222"][class*="-op06"]{ background-color: #22222299;}
[class*="-bg222222"][class*="-op05"]{ background-color: #22222280;}
[class*="-bg222222"][class*="-op04"]{ background-color: #22222266;}
[class*="-bg222222"][class*="-op03"]{ background-color: #2222224D;}
[class*="-bg222222"][class*="-op02"]{ background-color: #22222233;}
[class*="-bg222222"][class*="-op01"]{ background-color: #2222221A;}
[class*="-bg333333"]{ background-color: #333333;}
[class*="-bg333333"][class*="-op09"]{ background-color: #333333E6;}
[class*="-bg333333"][class*="-op08"]{ background-color: #333333CC;}
[class*="-bg333333"][class*="-op07"]{ background-color: #333333B3;}
[class*="-bg333333"][class*="-op06"]{ background-color: #33333399;}
[class*="-bg333333"][class*="-op05"]{ background-color: #33333380;}
[class*="-bg333333"][class*="-op04"]{ background-color: #33333366;}
[class*="-bg333333"][class*="-op03"]{ background-color: #3333334D;}
[class*="-bg333333"][class*="-op02"]{ background-color: #33333333;}
[class*="-bg333333"][class*="-op01"]{ background-color: #3333331A;}
[class*="-bg444444"]{ background-color: #444444;}
[class*="-bg444444"][class*="-op09"]{ background-color: #444444E6;}
[class*="-bg444444"][class*="-op08"]{ background-color: #444444CC;}
[class*="-bg444444"][class*="-op07"]{ background-color: #444444B3;}
[class*="-bg444444"][class*="-op06"]{ background-color: #44444499;}
[class*="-bg444444"][class*="-op05"]{ background-color: #44444480;}
[class*="-bg444444"][class*="-op04"]{ background-color: #44444466;}
[class*="-bg444444"][class*="-op03"]{ background-color: #4444444D;}
[class*="-bg444444"][class*="-op02"]{ background-color: #44444433;}
[class*="-bg444444"][class*="-op01"]{ background-color: #4444441A;}
[class*="-bg555555"]{ background-color: #555555;}
[class*="-bg555555"][class*="-op09"]{ background-color: #555555E6;}
[class*="-bg555555"][class*="-op08"]{ background-color: #555555CC;}
[class*="-bg555555"][class*="-op07"]{ background-color: #555555B3;}
[class*="-bg555555"][class*="-op06"]{ background-color: #55555599;}
[class*="-bg555555"][class*="-op05"]{ background-color: #55555580;}
[class*="-bg555555"][class*="-op04"]{ background-color: #55555566;}
[class*="-bg555555"][class*="-op03"]{ background-color: #5555554D;}
[class*="-bg555555"][class*="-op02"]{ background-color: #55555533;}
[class*="-bg555555"][class*="-op01"]{ background-color: #5555551A;}
[class*="-bg666666"]{ background-color: #666666;}
[class*="-bg666666"][class*="-op09"]{ background-color: #666666E6;}
[class*="-bg666666"][class*="-op08"]{ background-color: #666666CC;}
[class*="-bg666666"][class*="-op07"]{ background-color: #666666B3;}
[class*="-bg666666"][class*="-op06"]{ background-color: #66666699;}
[class*="-bg666666"][class*="-op05"]{ background-color: #66666680;}
[class*="-bg666666"][class*="-op04"]{ background-color: #66666666;}
[class*="-bg666666"][class*="-op03"]{ background-color: #6666664D;}
[class*="-bg666666"][class*="-op02"]{ background-color: #66666633;}
[class*="-bg666666"][class*="-op01"]{ background-color: #6666661A;}
[class*="-bg777777"]{ background-color: #777777;}
[class*="-bg777777"][class*="-op09"]{ background-color: #777777E6;}
[class*="-bg777777"][class*="-op08"]{ background-color: #777777CC;}
[class*="-bg777777"][class*="-op07"]{ background-color: #777777B3;}
[class*="-bg777777"][class*="-op06"]{ background-color: #77777799;}
[class*="-bg777777"][class*="-op05"]{ background-color: #77777780;}
[class*="-bg777777"][class*="-op04"]{ background-color: #77777766;}
[class*="-bg777777"][class*="-op03"]{ background-color: #7777774D;}
[class*="-bg777777"][class*="-op02"]{ background-color: #77777733;}
[class*="-bg777777"][class*="-op01"]{ background-color: #7777771A;}
[class*="-bg888888"]{ background-color: #888888;}
[class*="-bg888888"][class*="-op09"]{ background-color: #888888E6;}
[class*="-bg888888"][class*="-op08"]{ background-color: #888888CC;}
[class*="-bg888888"][class*="-op07"]{ background-color: #888888B3;}
[class*="-bg888888"][class*="-op06"]{ background-color: #88888899;}
[class*="-bg888888"][class*="-op05"]{ background-color: #88888880;}
[class*="-bg888888"][class*="-op04"]{ background-color: #88888866;}
[class*="-bg888888"][class*="-op03"]{ background-color: #8888884D;}
[class*="-bg888888"][class*="-op02"]{ background-color: #88888833;}
[class*="-bg888888"][class*="-op01"]{ background-color: #8888881A;}
[class*="-bg999999"]{ background-color: #999999;}
[class*="-bg999999"][class*="-op09"]{ background-color: #999999E6;}
[class*="-bg999999"][class*="-op08"]{ background-color: #999999CC;}
[class*="-bg999999"][class*="-op07"]{ background-color: #999999B3;}
[class*="-bg999999"][class*="-op06"]{ background-color: #99999999;}
[class*="-bg999999"][class*="-op05"]{ background-color: #99999980;}
[class*="-bg999999"][class*="-op04"]{ background-color: #99999966;}
[class*="-bg999999"][class*="-op03"]{ background-color: #9999994D;}
[class*="-bg999999"][class*="-op02"]{ background-color: #99999933;}
[class*="-bg999999"][class*="-op01"]{ background-color: #9999991A;}
[class*="-bgF7F9FB"]{ background-color: #F7F9FB;}
[class*="-bg5490DE"]{ background-color: #5490DE;}
[class*="-bg153457"]{ background-color: #153457;}
[class*="-bg390D84"]{ background-color: #390D84;}
[class*="-bgC10230"]{ background-color: #C10230;}
[class*="-bg124689"]{ background-color: #124689;}
[class*="-bg2AA138"]{ background-color: #2AA138;}
[class*="-bgC9CFDA"]{ background-color: #C9CFDA;}
[class*="-bgF5F6F8"]{ background-color: #F5F6F8;}
[class*="-bg5467DE"]{ background-color: #5467DE;}

[class*="-hvbg000000"]:hover{ background-color: #000000;}
[class*="-hvbg000000"]:hover[class*="-op09"]{ background-color: #000000E6;}
[class*="-hvbg000000"]:hover[class*="-op08"]{ background-color: #000000CC;}
[class*="-hvbg000000"]:hover[class*="-op07"]{ background-color: #000000B3;}
[class*="-hvbg000000"]:hover[class*="-op06"]{ background-color: #00000099;}
[class*="-hvbg000000"]:hover[class*="-op05"]{ background-color: #00000080;}
[class*="-hvbg000000"]:hover[class*="-op04"]{ background-color: #00000066;}
[class*="-hvbg000000"]:hover[class*="-op03"]{ background-color: #0000004D;}
[class*="-hvbg000000"]:hover[class*="-op02"]{ background-color: #00000033;}
[class*="-hvbg000000"]:hover[class*="-op01"]{ background-color: #0000001A;}
[class*="-hvbg111111"]:hover{ background-color: #111111;}
[class*="-hvbg111111"]:hover[class*="-op09"]{ background-color: #111111E6;}
[class*="-hvbg111111"]:hover[class*="-op08"]{ background-color: #111111CC;}
[class*="-hvbg111111"]:hover[class*="-op07"]{ background-color: #111111B3;}
[class*="-hvbg111111"]:hover[class*="-op06"]{ background-color: #11111199;}
[class*="-hvbg111111"]:hover[class*="-op05"]{ background-color: #11111180;}
[class*="-hvbg111111"]:hover[class*="-op04"]{ background-color: #11111166;}
[class*="-hvbg111111"]:hover[class*="-op03"]{ background-color: #1111114D;}
[class*="-hvbg111111"]:hover[class*="-op02"]{ background-color: #11111133;}
[class*="-hvbg111111"]:hover[class*="-op01"]{ background-color: #1111111A;}
[class*="-hvbg222222"]:hover{ background-color: #222222;}
[class*="-hvbg222222"]:hover[class*="-op09"]{ background-color: #222222E6;}
[class*="-hvbg222222"]:hover[class*="-op08"]{ background-color: #222222CC;}
[class*="-hvbg222222"]:hover[class*="-op07"]{ background-color: #222222B3;}
[class*="-hvbg222222"]:hover[class*="-op06"]{ background-color: #22222299;}
[class*="-hvbg222222"]:hover[class*="-op05"]{ background-color: #22222280;}
[class*="-hvbg222222"]:hover[class*="-op04"]{ background-color: #22222266;}
[class*="-hvbg222222"]:hover[class*="-op03"]{ background-color: #2222224D;}
[class*="-hvbg222222"]:hover[class*="-op02"]{ background-color: #22222233;}
[class*="-hvbg222222"]:hover[class*="-op01"]{ background-color: #2222221A;}
[class*="-hvbg333333"]:hover{ background-color: #333333;}
[class*="-hvbg333333"]:hover[class*="-op09"]{ background-color: #333333E6;}
[class*="-hvbg333333"]:hover[class*="-op08"]{ background-color: #333333CC;}
[class*="-hvbg333333"]:hover[class*="-op07"]{ background-color: #333333B3;}
[class*="-hvbg333333"]:hover[class*="-op06"]{ background-color: #33333399;}
[class*="-hvbg333333"]:hover[class*="-op05"]{ background-color: #33333380;}
[class*="-hvbg333333"]:hover[class*="-op04"]{ background-color: #33333366;}
[class*="-hvbg333333"]:hover[class*="-op03"]{ background-color: #3333334D;}
[class*="-hvbg333333"]:hover[class*="-op02"]{ background-color: #33333333;}
[class*="-hvbg333333"]:hover[class*="-op01"]{ background-color: #3333331A;}
[class*="-hvbg444444"]:hover{ background-color: #444444;}
[class*="-hvbg444444"]:hover[class*="-op09"]{ background-color: #444444E6;}
[class*="-hvbg444444"]:hover[class*="-op08"]{ background-color: #444444CC;}
[class*="-hvbg444444"]:hover[class*="-op07"]{ background-color: #444444B3;}
[class*="-hvbg444444"]:hover[class*="-op06"]{ background-color: #44444499;}
[class*="-hvbg444444"]:hover[class*="-op05"]{ background-color: #44444480;}
[class*="-hvbg444444"]:hover[class*="-op04"]{ background-color: #44444466;}
[class*="-hvbg444444"]:hover[class*="-op03"]{ background-color: #4444444D;}
[class*="-hvbg444444"]:hover[class*="-op02"]{ background-color: #44444433;}
[class*="-hvbg444444"]:hover[class*="-op01"]{ background-color: #4444441A;}
[class*="-hvbg555555"]:hover{ background-color: #555555;}
[class*="-hvbg555555"]:hover[class*="-op09"]{ background-color: #555555E6;}
[class*="-hvbg555555"]:hover[class*="-op08"]{ background-color: #555555CC;}
[class*="-hvbg555555"]:hover[class*="-op07"]{ background-color: #555555B3;}
[class*="-hvbg555555"]:hover[class*="-op06"]{ background-color: #55555599;}
[class*="-hvbg555555"]:hover[class*="-op05"]{ background-color: #55555580;}
[class*="-hvbg555555"]:hover[class*="-op04"]{ background-color: #55555566;}
[class*="-hvbg555555"]:hover[class*="-op03"]{ background-color: #5555554D;}
[class*="-hvbg555555"]:hover[class*="-op02"]{ background-color: #55555533;}
[class*="-hvbg555555"]:hover[class*="-op01"]{ background-color: #5555551A;}
[class*="-hvbg666666"]:hover{ background-color: #666666;}
[class*="-hvbg666666"]:hover[class*="-op09"]{ background-color: #666666E6;}
[class*="-hvbg666666"]:hover[class*="-op08"]{ background-color: #666666CC;}
[class*="-hvbg666666"]:hover[class*="-op07"]{ background-color: #666666B3;}
[class*="-hvbg666666"]:hover[class*="-op06"]{ background-color: #66666699;}
[class*="-hvbg666666"]:hover[class*="-op05"]{ background-color: #66666680;}
[class*="-hvbg666666"]:hover[class*="-op04"]{ background-color: #66666666;}
[class*="-hvbg666666"]:hover[class*="-op03"]{ background-color: #6666664D;}
[class*="-hvbg666666"]:hover[class*="-op02"]{ background-color: #66666633;}
[class*="-hvbg666666"]:hover[class*="-op01"]{ background-color: #6666661A;}
[class*="-hvbg777777"]:hover{ background-color: #777777;}
[class*="-hvbg777777"]:hover[class*="-op09"]{ background-color: #777777E6;}
[class*="-hvbg777777"]:hover[class*="-op08"]{ background-color: #777777CC;}
[class*="-hvbg777777"]:hover[class*="-op07"]{ background-color: #777777B3;}
[class*="-hvbg777777"]:hover[class*="-op06"]{ background-color: #77777799;}
[class*="-hvbg777777"]:hover[class*="-op05"]{ background-color: #77777780;}
[class*="-hvbg777777"]:hover[class*="-op04"]{ background-color: #77777766;}
[class*="-hvbg777777"]:hover[class*="-op03"]{ background-color: #7777774D;}
[class*="-hvbg777777"]:hover[class*="-op02"]{ background-color: #77777733;}
[class*="-hvbg777777"]:hover[class*="-op01"]{ background-color: #7777771A;}
[class*="-hvbg888888"]:hover{ background-color: #888888;}
[class*="-hvbg888888"]:hover[class*="-op09"]{ background-color: #888888E6;}
[class*="-hvbg888888"]:hover[class*="-op08"]{ background-color: #888888CC;}
[class*="-hvbg888888"]:hover[class*="-op07"]{ background-color: #888888B3;}
[class*="-hvbg888888"]:hover[class*="-op06"]{ background-color: #88888899;}
[class*="-hvbg888888"]:hover[class*="-op05"]{ background-color: #88888880;}
[class*="-hvbg888888"]:hover[class*="-op04"]{ background-color: #88888866;}
[class*="-hvbg888888"]:hover[class*="-op03"]{ background-color: #8888884D;}
[class*="-hvbg888888"]:hover[class*="-op02"]{ background-color: #88888833;}
[class*="-hvbg888888"]:hover[class*="-op01"]{ background-color: #8888881A;}
[class*="-hvbg999999"]:hover{ background-color: #999999;}
[class*="-hvbg999999"]:hover[class*="-op09"]{ background-color: #999999E6;}
[class*="-hvbg999999"]:hover[class*="-op08"]{ background-color: #999999CC;}
[class*="-hvbg999999"]:hover[class*="-op07"]{ background-color: #999999B3;}
[class*="-hvbg999999"]:hover[class*="-op06"]{ background-color: #99999999;}
[class*="-hvbg999999"]:hover[class*="-op05"]{ background-color: #99999980;}
[class*="-hvbg999999"]:hover[class*="-op04"]{ background-color: #99999966;}
[class*="-hvbg999999"]:hover[class*="-op03"]{ background-color: #9999994D;}
[class*="-hvbg999999"]:hover[class*="-op02"]{ background-color: #99999933;}
[class*="-hvbg999999"]:hover[class*="-op01"]{ background-color: #9999991A;}
[class*="-hvbgF7F9FB"]:hover{ background-color: #F7F9FB;}
[class*="-hvbg5490DE"]:hover{ background-color: #5490DE;}
[class*="-hvbg153457"]:hover{ background-color: #153457;}
[class*="-hvbg390D84"]:hover{ background-color: #390D84;}
[class*="-hvbgC10230"]:hover{ background-color: #C10230;}
[class*="-hvbg124689"]:hover{ background-color: #124689;}
[class*="-hvbg2AA138"]:hover{ background-color: #2AA138;}
[class*="-hvbgC9CFDA"]:hover{ background-color: #C9CFDA;}

[class*="-gap5"]{ gap: 5px;}
[class*="-gap10"]{ gap: 10px;}
[class*="-gap15"]{ gap: 15px;}
[class*="-gap20"]{ gap: 20px;}
[class*="-gap25"]{ gap: 25px;}
[class*="-gap30"]{ gap: 30px;}

[class*="-pd0"]{ padding: 0;}
[class*="-pd5"]{ padding: 5px;}
[class*="-pd10"]{ padding: 10px;}
[class*="-pd15"]{ padding: 15px;}
[class*="-pd20"]{ padding: 20px;}
[class*="-pd25"]{ padding: 25px;}
[class*="-pd30"]{ padding: 30px;}
[class*="-pdtb5"]{ padding: 5px 0;}
[class*="-pdtb10"]{ padding: 10px 0;}
[class*="-pdtb15"]{ padding: 15px 0;}
[class*="-pdtb20"]{ padding: 20px 0;}
[class*="-pdtb25"]{ padding: 25px 0;}
[class*="-pdtb30"]{ padding: 30px 0;}
[class*="-pdlr5"]{ padding: 0 5px;}
[class*="-pdlr10"]{ padding: 0 10px;}
[class*="-pdlr15"]{ padding: 0 15px;}
[class*="-pdlr20"]{ padding: 0 20px;}
[class*="-pdlr25"]{ padding: 0 25px;}
[class*="-pdlr30"]{ padding: 0 30px;}

[class*="-br1"]{ border-radius: 1px;}
[class*="-br2"]{ border-radius: 2px;}
[class*="-br3"]{ border-radius: 3px;}
[class*="-br4"]{ border-radius: 4px;}
[class*="-br5"]{ border-radius: 5px;}
[class*="-br6"]{ border-radius: 6px;}
[class*="-br7"]{ border-radius: 7px;}
[class*="-br8"]{ border-radius: 8px;}
[class*="-br9"]{ border-radius: 9px;}
[class*="-br10"]{ border-radius: 10px;}
[class*="-br11"]{ border-radius: 11px;}
[class*="-br12"]{ border-radius: 12px;}
[class*="-br13"]{ border-radius: 13px;}
[class*="-br14"]{ border-radius: 14px;}
[class*="-br15"]{ border-radius: 15px;}
[class*="-br16"]{ border-radius: 16px;}
[class*="-br17"]{ border-radius: 17px;}
[class*="-br18"]{ border-radius: 18px;}
[class*="-br19"]{ border-radius: 19px;}
[class*="-br20"]{ border-radius: 20px;}
[class*="-br21"]{ border-radius: 21px;}
[class*="-br22"]{ border-radius: 22px;}
[class*="-br23"]{ border-radius: 23px;}
[class*="-br24"]{ border-radius: 24px;}
[class*="-br25"]{ border-radius: 25px;}
[class*="-br26"]{ border-radius: 26px;}
[class*="-br27"]{ border-radius: 27px;}
[class*="-br28"]{ border-radius: 28px;}
[class*="-br29"]{ border-radius: 29px;}
[class*="-br30"]{ border-radius: 30px;}
[class*="-br31"]{ border-radius: 31px;}
[class*="-br32"]{ border-radius: 32px;}

[class*="txt-"][class*="-fw400"]{ font-weight: 400;}
[class*="txt-"][class*="-fw500"]{ font-weight: 500;}
[class*="txt-"][class*="-fw600"]{ font-weight: 600;}
[class*="txt-"][class*="-fw700"]{ font-weight: 700;}
[class*="txt-"][class*="-fs10"]{ font-size: 10px;}
[class*="txt-"][class*="-fs11"]{ font-size: 11px;}
[class*="txt-"][class*="-fs12"]{ font-size: 12px;}
[class*="txt-"][class*="-fs13"]{ font-size: 13px;}
[class*="txt-"][class*="-fs14"]{ font-size: 14px;}
[class*="txt-"][class*="-fs15"]{ font-size: 15px;}
[class*="txt-"][class*="-fs16"]{ font-size: 16px;}
[class*="txt-"][class*="-fs17"]{ font-size: 17px;}
[class*="txt-"][class*="-fs18"]{ font-size: 18px;}
[class*="txt-"][class*="-fs19"]{ font-size: 19px;}
[class*="txt-"][class*="-fs20"]{ font-size: 20px;}
[class*="txt-"][class*="-fs21"]{ font-size: 21px;}
[class*="txt-"][class*="-fs22"]{ font-size: 22px;}
[class*="txt-"][class*="-fs23"]{ font-size: 23px;}
[class*="txt-"][class*="-fs24"]{ font-size: 24px;}
[class*="txt-"][class*="-lh10"]{ line-height: 1.0;}
[class*="txt-"][class*="-lh11"]{ line-height: 1.1;}
[class*="txt-"][class*="-lh12"]{ line-height: 1.2;}
[class*="txt-"][class*="-lh13"]{ line-height: 1.3;}
[class*="txt-"][class*="-lh14"]{ line-height: 1.4;}
[class*="txt-"][class*="-lh15"]{ line-height: 1.5;}
[class*="txt-"][class*="-lh16"]{ line-height: 1.6;}
[class*="txt-"][class*="-lh17"]{ line-height: 1.7;}
[class*="txt-"][class*="-lh18"]{ line-height: 1.8;}
[class*="txt-"][class*="-lh19"]{ line-height: 1.9;}
[class*="txt-"][class*="-lh20"]{ line-height: 2.0;}
[class*="txt-"][class*="-lh10px"]{ line-height: 10px;}
[class*="txt-"][class*="-lh11px"]{ line-height: 11px;}
[class*="txt-"][class*="-lh12px"]{ line-height: 12px;}
[class*="txt-"][class*="-lh13px"]{ line-height: 13px;}
[class*="txt-"][class*="-lh14px"]{ line-height: 14px;}
[class*="txt-"][class*="-lh15px"]{ line-height: 15px;}
[class*="txt-"][class*="-lh16px"]{ line-height: 16px;}
[class*="txt-"][class*="-lh17px"]{ line-height: 17px;}
[class*="txt-"][class*="-lh18px"]{ line-height: 18px;}
[class*="txt-"][class*="-lh19px"]{ line-height: 19px;}
[class*="txt-"][class*="-lh20px"]{ line-height: 20px;}
[class*="txt-"][class*="-tal"]{ text-align: left;}
[class*="txt-"][class*="-tac"]{ text-align: center;}
[class*="txt-"][class*="-tar"]{ text-align: right;}
[class*="txt-"][class*="-fc000000"]{ color: #000000;}
[class*="txt-"][class*="-fc111111"]{ color: #111111;}
[class*="txt-"][class*="-fc222222"]{ color: #222222;}
[class*="txt-"][class*="-fc333333"]{ color: #333333;}
[class*="txt-"][class*="-fc444444"]{ color: #444444;}
[class*="txt-"][class*="-fc555555"]{ color: #555555;}
[class*="txt-"][class*="-fc666666"]{ color: #666666;}
[class*="txt-"][class*="-fc777777"]{ color: #777777;}
[class*="txt-"][class*="-fc888888"]{ color: #888888;}
[class*="txt-"][class*="-fc999999"]{ color: #999999;}
[class*="txt-"][class*="-fcAAAAAA"]{ color: #AAAAAA;}
[class*="txt-"][class*="-fcBBBBBB"]{ color: #BBBBBB;}
[class*="txt-"][class*="-fcCCCCCC"]{ color: #CCCCCC;}
[class*="txt-"][class*="-fcDDDDDD"]{ color: #DDDDDD;}
[class*="txt-"][class*="-fcEEEEEE"]{ color: #EEEEEE;}
[class*="txt-"][class*="-fcFFFFFF"]{ color: #FFFFFF;}
[class*="txt-"][class*="-fc5F627B"]{ color: #5F627B;}
[class*="txt-"][class*="-fc41679F"]{ color: #41679F;}
[class*="txt-"][class*="-fc2AA138"]{ color: #2AA138;}
[class*="txt-"][class*="-fc5490DE"]{ color: #5490DE;}
[class*="txt-"] > span{ display: inline;}

.ico{ background: no-repeat center center;}
.ico[class*="-10-10"]{ width: 10px; height: 10px;}
.ico[class*="-12-12"]{ width: 12px; height: 12px;}
.ico[class*="-14-14"]{ width: 14px; height: 14px;}
.ico[class*="-16-16"]{ width: 16px; height: 16px;}
.ico[class*="-18-18"]{ width: 18px; height: 18px;}
.ico[class*="-20-20"]{ width: 20px; height: 20px;}
.ico[class*="-24-24"]{ width: 24px; height: 24px;}
.ico[class*="-66-66"]{ width: 66px; height: 66px;}
.ico.ico-3d-b-18-18{ background-image: url(../img/ico/ico-3d-b-18-18.png);}
.ico.ico-add-b-12-12{ background-image: url(../img/ico/ico-add-b-12-12.png);}
.ico.ico-add-w-12-12{ background-image: url(../img/ico/ico-add-w-12-12.png);}
.ico.ico-add-w-14-14{ background-image: url(../img/ico/ico-add-w-14-14.png);}
.ico.ico-add-w-16-16{ background-image: url(../img/ico/ico-add-w-16-16.png);}
.ico.ico-add-w-18-18{ background-image: url(../img/ico/ico-add-w-18-18.png);}
.ico.ico-arrow-down-b-10-10{ background-image: url(../img/ico/ico-arrow-down-b-10-10.png);}
.ico.ico-arrow-down-b-14-14{ background-image: url(../img/ico/ico-arrow-down-b-14-14.png);}
.ico.ico-arrow-down-b-16-16{ background-image: url(../img/ico/ico-arrow-down-b-16-16.png);}
.ico.ico-arrow-down-w-12-12{ background-image: url(../img/ico/ico-arrow-down-w-12-12.png);}
.ico.ico-arrow-left-b-14-14{ background-image: url(../img/ico/ico-arrow-left-b-14-14.png);}
.ico.ico-arrow-left-double-b-20-20{ background-image: url(../img/ico/ico-arrow-left-double-b-20-20.png);}
.ico.ico-arrow-left-w-24-24{ background-image: url(../img/ico/ico-arrow-left-w-24-24.png);}
.ico.ico-arrow-right-b-14-14{ background-image: url(../img/ico/ico-arrow-right-b-14-14.png);}
.ico.ico-arrow-right-double-b-20-20{ background-image: url(../img/ico/ico-arrow-right-double-b-20-20.png);}
.ico.ico-arrow-right-w-24-24{ background-image: url(../img/ico/ico-arrow-right-w-24-24.png);}
.ico.ico-arrow-up-b-14-14{ background-image: url(../img/ico/ico-arrow-up-b-14-14.png);}
.ico.ico-arrow-up-b-18-18{ background-image: url(../img/ico/ico-arrow-up-b-18-18.png);}
.ico.ico-battery-w-18-18{ background-image: url(../img/ico/ico-battery-w-18-18.png);}
.ico.ico-box-b-18-18{ background-image: url(../img/ico/ico-box-b-18-18.png);}
.ico.ico-camera-b-18-18{ background-image: url(../img/ico/ico-camera-b-18-18.png);}
.ico.ico-camera-off-w-14-14{ background-image: url(../img/ico/ico-camera-off-w-14-14.png);}
.ico.ico-camera-w-14-14{ background-image: url(../img/ico/ico-camera-w-14-14.png);}
.ico.ico-chart-w-20-20{ background-image: url(../img/ico/ico-chart-w-20-20.png);}
.ico.ico-clock2-b-20-20{ background-image: url(../img/ico/ico-clock2-b-20-20.png);}
.ico.ico-clock-b-20-20{ background-image: url(../img/ico/ico-clock-b-20-20.png);}
.ico.ico-close-b-16-16{ background-image: url(../img/ico/ico-close-b-16-16.png);}
.ico.ico-close-w-20-20{ background-image: url(../img/ico/ico-close-w-20-20.png);}
.ico.ico-completion-b-18-18{ background-image: url(../img/ico/ico-completion-b-18-18.png);}
.ico.ico-crop-w-18-18{ background-image: url(../img/ico/ico-crop-w-18-18.png);}
.ico.ico-crosshair-w-18-18{ background-image: url(../img/ico/ico-crosshair-w-18-18.png);}
.ico.ico-dashboard-w-20-20{ background-image: url(../img/ico/ico-dashboard-w-20-20.png);}
.ico.ico-disc-w-20-20{ background-image: url(../img/ico/ico-disc-w-20-20.png);}
.ico.ico-dots-w-24-24{ background-image: url(../img/ico/ico-dots-w-24-24.png);}
.ico.ico-download-w-18-18{ background-image: url(../img/ico/ico-download-w-18-18.png);}
.ico.ico-drone-b-66-66{ background-image: url(../img/ico/ico-drone-b-66-66.png);}
.ico.ico-drone-w-20-20{ background-image: url(../img/ico/ico-drone-w-20-20.png);}
.ico.ico-drone-w-24-24{ background-image: url(../img/ico/ico-drone-w-24-24.png);}
.ico.ico-dust-type1-16-16{ background-image: url(../img/ico/ico-dust-type1-16-16.png);}
.ico.ico-dust-type2-16-16{ background-image: url(../img/ico/ico-dust-type2-16-16.png);}
.ico.ico-dust-type3-16-16{ background-image: url(../img/ico/ico-dust-type3-16-16.png);}
.ico.ico-dust-type4-16-16{ background-image: url(../img/ico/ico-dust-type4-16-16.png);}
.ico.ico-dust-type5-16-16{ background-image: url(../img/ico/ico-dust-type5-16-16.png);}
.ico.ico-equalizer-b-18-18{ background-image: url(../img/ico/ico-equalizer-b-18-18.png);}
.ico.ico-expand-height-b-18-18{ background-image: url(../img/ico/ico-expand-height-b-18-18.png);}
.ico.ico-flag-w-18-18{ background-image: url(../img/ico/ico-flag-w-18-18.png);}
.ico.ico-flight-takeoff-w-24-24{ background-image: url(../img/ico/ico-flight-takeoff-w-24-24.png);}
.ico.ico-focus-b-18-18{ background-image: url(../img/ico/ico-focus-b-18-18.png);}
.ico.ico-fullscreen2-w-14-14{ background-image: url(../img/ico/ico-fullscreen2-w-14-14.png);}
.ico.ico-fullscreen-w-14-14{ background-image: url(../img/ico/ico-fullscreen-w-14-14.png);}
.ico.ico-gauge-b-18-18{ background-image: url(../img/ico/ico-gauge-b-18-18.png);}
.ico.ico-gps-w-20-20{ background-image: url(../img/ico/ico-gps-w-20-20.png);}
.ico.ico-guide-w-18-18{ background-image: url(../img/ico/ico-guide-w-18-18.png);}
.ico.ico-guide-b-18-18{ background-image: url(../img/ico/ico-guide-b-18-18.png);}
.ico.ico-image-b-18-18{ background-image: url(../img/ico/ico-image-b-18-18.png);}
.ico.ico-image-b-20-20{ background-image: url(../img/ico/ico-image-b-20-20.png);}
.ico.ico-information-w-14-14{ background-image: url(../img/ico/ico-information-w-14-14.png);}
.ico.ico-lens-b-18-18{ background-image: url(../img/ico/ico-lens-b-18-18.png);}
.ico.ico-list-w-20-20{ background-image: url(../img/ico/ico-list-w-20-20.png);}
.ico.ico-logo-144-26{ width: 144px; height: 26px; background-image: url(../img/ico/ico-logo-144-26.png);}
.ico.ico-logout-w-20-20{ background-image: url(../img/ico/ico-logout-w-20-20.png);}
.ico.ico-map2-w-20-20{ background-image: url(../img/ico/ico-map2-w-20-20.png);}
.ico.ico-map-w-20-20{ background-image: url(../img/ico/ico-map-w-20-20.png);}
.ico.ico-move-w-14-14{ background-image: url(../img/ico/ico-move-w-14-14.png);}
.ico.ico-notification-w-20-20{ background-image: url(../img/ico/ico-notification-w-20-20.png);}
.ico.ico-pencil-ruler-w-18-18{ background-image: url(../img/ico/ico-pencil-ruler-w-18-18.png);}
.ico.ico-plane-b-66-66{ background-image: url(../img/ico/ico-plane-b-66-66.png);}
.ico.ico-plane-w-14-14{ background-image: url(../img/ico/ico-plane-w-14-14.png);}
.ico.ico-radar-w-20-20{ background-image: url(../img/ico/ico-radar-w-20-20.png);}
.ico.ico-radio-w-14-14{ background-image: url(../img/ico/ico-radio-w-14-14.png);}
.ico.ico-remote-w-20-20{ background-image: url(../img/ico/ico-remote-w-20-20.png);}
.ico.ico-reset-w-14-14{ background-image: url(../img/ico/ico-reset-w-14-14.png);}
.ico.ico-road-b-18-18{ background-image: url(../img/ico/ico-road-b-18-18.png);}
.ico.ico-robot-b-66-66{ background-image: url(../img/ico/ico-robot-b-66-66.png);}
.ico.ico-route-b-18-18{ background-image: url(../img/ico/ico-route-b-18-18.png);}
.ico.ico-route-b-20-20{ background-image: url(../img/ico/ico-route-b-20-20.png);}
.ico.ico-router-w-20-20{ background-image: url(../img/ico/ico-router-w-20-20.png);}
.ico.ico-route-w-18-18{ background-image: url(../img/ico/ico-route-w-18-18.png);}
.ico.ico-road-w-18-18{ background-image: url(../img/ico/ico-road-w-18-18.png);}
.ico.ico-skew-w-18-18{ background-image: url(../img/ico/ico-skew-w-18-18.png);}
.ico.ico-box-w-18-18{ background-image: url(../img/ico/ico-box-w-18-18.png);}
.ico.ico-3d-w-18-18{ background-image: url(../img/ico/ico-3d-w-18-18.png);}
.ico.ico-route-w-20-20{ background-image: url(../img/ico/ico-route-w-20-20.png);}
.ico.ico-ruler-w-18-18{ background-image: url(../img/ico/ico-ruler-w-18-18.png);}
.ico.ico-save-w-16-16{ background-image: url(../img/ico/ico-save-w-16-16.png);}
.ico.ico-search-w-18-18{ background-image: url(../img/ico/ico-search-w-18-18.png);}
.ico.ico-settings-b-18-18{ background-image: url(../img/ico/ico-settings-b-18-18.png);}
.ico.ico-settings-w-14-14{ background-image: url(../img/ico/ico-settings-w-14-14.png);}
.ico.ico-shape-b-20-20{ background-image: url(../img/ico/ico-shape-b-20-20.png);}
.ico.ico-shape-w-18-18{ background-image: url(../img/ico/ico-shape-w-18-18.png);}
.ico.ico-share-w-18-18{ background-image: url(../img/ico/ico-share-w-18-18.png);}
.ico.ico-ship-b-66-66{ background-image: url(../img/ico/ico-ship-b-66-66.png);}
.ico.ico-signal-w-12-12{ background-image: url(../img/ico/ico-signal-w-12-12.png);}
.ico.ico-skew-b-18-18{ background-image: url(../img/ico/ico-skew-b-18-18.png);}
.ico.ico-station-w-20-20{ background-image: url(../img/ico/ico-station-w-20-20.png);}
.ico.ico-subtract-w-12-12{ background-image: url(../img/ico/ico-subtract-w-12-12.png);}
.ico.ico-subtract-b-12-12{ background-image: url(../img/ico/ico-subtract-b-12-12.png);}
.ico.ico-subtract-w-14-14{ background-image: url(../img/ico/ico-subtract-w-14-14.png);}
.ico.ico-subtract-w-18-18{ background-image: url(../img/ico/ico-subtract-w-18-18.png);}
.ico.ico-triangle-b-18-18{ background-image: url(../img/ico/ico-triangle-b-18-18.png);}
.ico.ico-user-w-20-20{ background-image: url(../img/ico/ico-user-w-20-20.png);}
.ico.ico-volume-mute-w-14-14{ background-image: url(../img/ico/ico-volume-mute-w-14-14.png);}
.ico.ico-volume-w-20-20{ background-image: url(../img/ico/ico-volume-w-20-20.png);}
.ico.ico-weather-type1-24-24{ background-image: url(../img/ico/ico-weather-type1-24-24.png);}
.ico.ico-weather-type2-24-24{ background-image: url(../img/ico/ico-weather-type2-24-24.png);}
.ico.ico-weather-type3-24-24{ background-image: url(../img/ico/ico-weather-type3-24-24.png);}
.ico.ico-weather-type4-24-24{ background-image: url(../img/ico/ico-weather-type4-24-24.png);}
.ico.ico-weather-type5-24-24{ background-image: url(../img/ico/ico-weather-type5-24-24.png);}
.ico.ico-weather-type6-24-24{ background-image: url(../img/ico/ico-weather-type6-24-24.png);}
.ico.ico-weather-type7-24-24{ background-image: url(../img/ico/ico-weather-type7-24-24.png);}
.ico.ico-weather-type8-24-24{ background-image: url(../img/ico/ico-weather-type8-24-24.png);}
.ico.ico-weather-type9-24-24{ background-image: url(../img/ico/ico-weather-type9-24-24.png);}
.ico.ico-weather-type10-24-24{ background-image: url(../img/ico/ico-weather-type10-24-24.png);}
.ico.ico-weather-type11-24-24{ background-image: url(../img/ico/ico-weather-type11-24-24.png);}
.ico.ico-weather-type12-24-24{ background-image: url(../img/ico/ico-weather-type12-24-24.png);}
.ico.ico-weather-type13-24-24{ background-image: url(../img/ico/ico-weather-type13-24-24.png);}
.ico.ico-weather-type14-24-24{ background-image: url(../img/ico/ico-weather-type14-24-24.png);}
.ico.ico-weather-type15-24-24{ background-image: url(../img/ico/ico-weather-type15-24-24.png);}
.ico.ico-weather-type16-24-24{ background-image: url(../img/ico/ico-weather-type16-24-24.png);}
.ico.ico-weather-type17-24-24{ background-image: url(../img/ico/ico-weather-type17-24-24.png);}
.ico.ico-webcam-w-20-20{ background-image: url(../img/ico/ico-webcam-w-20-20.png);}

[class*="badge-"][class*="-wh"]{ display: inline-flex; align-items: center; justify-content: center;}

[class*="btn-"]{ display: inline-flex; align-items: center; justify-content: center;}
[class*="btn-"][class*="-wh"]{ padding: 0;}

.chk-box{ display: inline-flex; align-items: center;gap: 5px; position: relative; cursor: pointer;}
.chk-box > input{ width: 0; height: 0; opacity: 0; position: absolute; top: 0; left: -9999px;}
.chk-box::before{ width: 14px; height: 14px; border-color: #000000; content: ''; margin: 2px; border: 2px solid #000; border-radius: 2px;}
.chk-box:has( > input:checked)::before{ background-color: #153457;}
.chk-box:has( > input:checked)::after{ width: 3px; height: 8px; content: ''; border-right: 2px solid #fff; border-bottom: 2px solid #fff; position: absolute; top: 5px; left: 9px; transform: rotate(45deg);}
.chk-box.solo > .txt{ font-size: 0; text-indent: -9999px; position: absolute; top: 0; left: -9999px;}