@charset "utf-8";

[class^="txt-"][class*="-fw400"]{ font-weight: 400;}
[class^="txt-"][class*="-fw500"]{ font-weight: 500;}
[class^="txt-"][class*="-fw600"]{ font-weight: 600;}
[class^="txt-"][class*="-fw700"]{ font-weight: 700;}
[class^="txt-"][class*="-fs12"]{ font-size: 12px;}
[class^="txt-"][class*="-fs13"]{ font-size: 13px;}
[class^="txt-"][class*="-fs14"]{ font-size: 14px;}
[class^="txt-"][class*="-fs15"]{ font-size: 15px;}
[class^="txt-"][class*="-fs16"]{ font-size: 16px;}
[class^="txt-"][class*="-fs17"]{ font-size: 17px;}
[class^="txt-"][class*="-fs18"]{ font-size: 18px;}
[class^="txt-"][class*="-fs19"]{ font-size: 19px;}
[class^="txt-"][class*="-fs20"]{ font-size: 20px;}
[class^="txt-"][class*="-fs21"]{ font-size: 21px;}
[class^="txt-"][class*="-fs22"]{ font-size: 22px;}
[class^="txt-"][class*="-fs23"]{ font-size: 23px;}
[class^="txt-"][class*="-fs24"]{ font-size: 24px;}
[class^="txt-"][class*="-lh10"]{ line-height: 1.0;}
[class^="txt-"][class*="-lh11"]{ line-height: 1.1;}
[class^="txt-"][class*="-lh12"]{ line-height: 1.2;}
[class^="txt-"][class*="-lh13"]{ line-height: 1.3;}
[class^="txt-"][class*="-lh14"]{ line-height: 1.4;}
[class^="txt-"][class*="-lh15"]{ line-height: 1.5;}
[class^="txt-"][class*="-lh16"]{ line-height: 1.6;}
[class^="txt-"][class*="-lh17"]{ line-height: 1.7;}
[class^="txt-"][class*="-lh18"]{ line-height: 1.8;}
[class^="txt-"][class*="-lh19"]{ line-height: 1.9;}
[class^="txt-"][class*="-lh20"]{ line-height: 2.0;}
[class^="txt-"][class*="-tal"]{ text-align: left;}
[class^="txt-"][class*="-tac"]{ text-align: center;}
[class^="txt-"][class*="-tar"]{ text-align: right;}
[class^="txt-"][class*="-fc000000"]{ color: #000000;}
[class^="txt-"][class*="-fc111111"]{ color: #111111;}
[class^="txt-"][class*="-fc222222"]{ color: #222222;}
[class^="txt-"][class*="-fc333333"]{ color: #333333;}
[class^="txt-"][class*="-fc444444"]{ color: #444444;}
[class^="txt-"][class*="-fc555555"]{ color: #555555;}
[class^="txt-"][class*="-fc666666"]{ color: #666666;}
[class^="txt-"][class*="-fc777777"]{ color: #777777;}
[class^="txt-"][class*="-fc888888"]{ color: #888888;}
[class^="txt-"][class*="-fc999999"]{ color: #999999;}
[class^="txt-"][class*="-fcAAAAAA"]{ color: #AAAAAA;}
[class^="txt-"][class*="-fcBBBBBB"]{ color: #BBBBBB;}
[class^="txt-"][class*="-fcCCCCCC"]{ color: #CCCCCC;}
[class^="txt-"][class*="-fcDDDDDD"]{ color: #DDDDDD;}
[class^="txt-"][class*="-fcEEEEEE"]{ color: #EEEEEE;}
[class^="txt-"][class*="-fcFFFFFF"]{ color: #FFFFFF;}